.labelCss .slds-form-element__label {
    white-space: nowrap; /* Prevent label from wrapping */
    overflow: hidden; /* Hide any overflow text */
    text-overflow: ellipsis; /* Show ellipsis (...) for truncated text */
    max-width: 100%; /* Adjust the max-width as needed */
  }
  /*
  .backdrop {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
  }
  
  .slds-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 0.25rem;
    width: 50rem;
    z-index: 1000;
  }
  
  .slds-modal__header {
    background-color: #f3f2f2;
    padding: 0.5rem;
  }
  
  .slds-modal__content {
    padding: 0.5rem;
  }
  
  .slds-modal__footer {
    background-color: #f3f2f2;
    padding: 0.5rem;
    text-align: right;
  }
  */